body {
    margin: auto;
    text-align: center;
    height: 100%;
}
h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    color: #0f52ba;
    font-size: 52px;
    font-weight: lighter;
    padding: 5px;
}
h1:hover{
    color: #0bda51;
}
h2 {
    color: #0f52ba;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    padding: 0;   
}
nav ul a {
    color: #0bda51;
    font-family: 'Quicksand', sans-serif; 
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
nav li {
    margin: .5em;
}
nav li:hover{
    color: #0f52ba;
}
header a {
    text-decoration: none;
}
.fa-window-minimize{
    font-size: 35px;
    color: #0f52ba;
}
.fa-window-minimize:hover{
    color: #0bda51;
}
footer {
   margin-top: 18em;
   font-family: 'Quicksand', sans-serif;
   color: #0f52ba; 
}
#siteMap {
    display: flex;
}
.border-right, .border-left {
    width: 50%;
}
.border-right p, .border-left p {
    font-size: 14px;
}
.border-right {
    border-right: 2px solid #0f52ba;
}
.border-left {
    border-left: 2px solid #0f52ba;
}
#privacy {
    padding: .5em;
    font-size: 15px;
}
.header-container {
    position: relative;
    height: 200px;
}

header::before, header::after, header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  width: 296px;
  height: 120px;
  margin: 10em auto;
  background: white;
  color: #0bda51;
  box-shadow: inset 0 0 0 1px #00a86b;
}
header::before, header::after {
  content: "";
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
}
header::before {
  animation-delay: -4s;
}
header:hover::after, header:hover::before {
  background-color: #0f52ba;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

