html, body {
    margin: 0;
    padding: 0;
    background: #0f52ba;
}
main {
    background: #0f52ba;
    color: white;
    margin: 0 auto;
}
h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    background: #0f52ba;
    color: white;
    font-weight: lighter;
    height: 50px;
    font-size: 35px;
}
h2 {
    font-size: 18px;
    margin: 0;
}
ul {
    list-style-type: none;
}
.wrapper {
    display: flex;
    font-family: 'Quicksand', sans-serif; 
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.logo-container {
    padding: 5px;
}
/* Site Nav */
nav {
    color: #0f52ba;   
}
nav ul{
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    min-width: 150px;
}
nav i {
    color: #0bda51;
    font-size: 18px;
}
nav i:hover {
    color: #0f52ba;
}
nav li {
    padding: 5px;
}
nav li:hover{
    color: #0bda51;
}
nav a {
    text-decoration: none;
}
.nav-links {
    border: 2px solid #0f52ba;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: white;
}
.tablinks:active{
    background: #0f52ba;
}
.icons-social i {
    margin: .1em;
}
footer {
    color: #0f52ba; 
    padding: .4em;
    font-size: 12px;
} 
footer p {
    margin: .2em;
}
footer p:hover {
    color: #0bda51;
}
footer a {
    color: #0f52ba;
}
footer a:hover {
    color: #0bda51;
}
.copyright:hover {
    color: #0f52ba;
}
/* Content */
#default, #skills, #portfolio, #business, #pricing, #contact {
    padding: 1em;
    margin: auto;
}
#default {
    margin-top: 10em;
}
#graphics {
    margin: auto;
    text-align: center;
}
#gears {
    -webkit-filter: drop-shadow(0px 0px 2px black);
    -moz-filter: drop-shadow(0px 0px 2px black);
    max-width: 128px;
}
#skills {
    margin-top: 7.8em;
}
.tech {
    color: #0bda51;
}
#skills ul {
    padding: 0;
}
#skills i {
    margin-right: 10px;
    color: #0bda51;
}
#skills li {
    margin: .4em;
}
#portfolio {
    margin-top: 11em;
}
#portfolio a {
    text-decoration: none;
    color: white;
}
#portfolio a:hover {
    color: #0bda51
}
#portfolio ul {
    padding: 0;
}
#business {
    margin-top: 13.8em;
}
#business ul {
    margin: 0;
    padding: 0;
}
#business li {
    margin: .4em;
}
#business i {
    color: #0bda51;
}
#pricing {
    max-width: 900px;
    margin-top: 16.6em;
}
#pricing-grid {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: transparent;
    text-align: center;
    overflow: hidden;
}
#pricing-grid p {
    margin: 0;
    font-size: 12px;
}
.row-blogs, .row-landing-pages, .row-basic-wp, .row-hosting, #from-499 {
    width: 50%;
    background: #0bda51;
}
.row-stores, .row-custom-web, .row-advanced-wp {
    width: 75%;
    background: #00a86b;
}
.row-large-stores, .row-advanced-web {
    width: 100%;
    background: #53c97c;
}
.price-bar {
    display: flex;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
#from-999 {
    width: 25%;
    background: #00a86b;
}
#from-1999 {
    width: 25%;
    background: #53c97c;
}
.grid-row {
    padding: .1em;
}
#contact {
    text-align: center;
    margin-top: 18.7em;
}
#name {
    background: #0bda51;
    padding: .5em;
    margin-top: 1em;
}
#email {
    background: #00a86b;
    padding: .5em;
}
#phone {
    background: #53c97c;
    padding: .5em;
}
input {
    font-size: 18px;
    margin-bottom: .4em;
}
input::placeholder {
  color: #0f52ba;
}
.form-input {
    width: 80%;
}
#message {
    height: 15em;
    border-radius: 5px;
    padding: .5em;
}
.button-submit {
    background: #0bda51;
    color: #0f52ba;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
}
.email-url {
    display: none;
}
.email-link p{
    display: none;
}
#siteMap {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}
#siteMap a {
    text-decoration: none;
}
.sitemap-level1 p {
    margin: .3em;
    text-align: center;
}
.sitemap-level2 {
    display: flex;
    font-size: 12px;
}
.border-right, .border-left {
    width: 50%;
    border-top: 2px solid #0f52ba;
}
.border-right p, .border-left p {
    margin: .3em;
}
.border-right {
    border-right: 1px solid #0f52ba;
    text-align: right;
}
.border-left {
    border-left: 1px solid #0f52ba;
    text-align: left;
}
@media(min-width: 576px) {
    /*Content*/
    #default {
        text-align: center;
        font-size: 22px;
        margin-top: 6em;
    }
    #gears {
        max-width: 180px;
    }
    #business {
        margin-top: 14.1em;
    } 
    #portfolio {
        margin-top: 11.5em;
    }  
    #pricing {
        margin-top: 16.6em;
    }
    #contact {
        text-align: left;
        margin-top: 19em auto 0;
        width: 350px;
    }
    #message {
        height: 10em;
    }   
}
@media(min-width: 768px) {
    /*Content*/
    .flex-container {
        flex-direction: row;
    }
    #web-app, #commercial {
        margin: auto 4em;
    }
    #default, #portfolio, #business, #pricing, #contact {
        padding: 3em;
    }
    #default {
        font-size: 24px;
        margin-top: 4em;
    }
    #portfolio {
        margin-top: 9.2em;
    }
    #business {
        margin-top: 12em;
    }
    #pricing {
        margin-top: 14.8em;
    }
    #contact {
        margin-top: 17.2em;
        width: 500px;
    }
}
@media(min-width: 992px) {
    /*Page*/
    h1 {
        font-size: 54px;
    }
    h2 {
        font-size: 22px;
    }
    /*Content*/
    #skills, #portfolio, #business, #pricing {
        font-size: 20px;
    }
    #skills {
        margin-top: 7.4em;
    }
    #gears {
        max-width: 240px;
    }
    #portfolio {
        margin-top:8.2em;
    }
    #business {
        margin-top: 10.3em;
    }
    #pricing {
        margin-top: 12.5em;
    }
    #contact {
        margin-top: 19em;
        width: 800px;
    }
    #message {
        height: 5em;
    }
    .grid-row, .price-bar div {
        padding: .2em;
        font-weight: bold;
    }
    footer {
        margin-top: 5em;
        font-weight: bold;
    }
    .email-link p{
        display: block;
    }
}


